body {
	font-family: Arial, sans-serif;
	background-color: #f7f7f7;
	margin: 0;
	padding: 0;
  }
  
  .container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
	font-size: 32px;
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
  }
  
  form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  }
  
  input[type="text"] {
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin-right: 10px;
	flex: 1;
  }
  
  button[type="submit"] {
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 5px;
	border: none;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.2s ease;
  }
  
  button[type="submit"]:hover {
	background-color: #0062cc;
  }
  